<br />
<div class='well span6'><h1>AngularJS Demo</h1>This demo is entended to go beyond other AngularJS demo applications. Most of the demos I 
tried, did not go far enough in demonstrating some common UI interface widgets, or the file
structure was not compatible with dropping in a common UI library. I have utilized Twitter 
Bootstrap in this demo, and used no AngularJS addons, because Twitter Bootstrap is allways
going to advance faster than any single framework, and you should be able to utilize the latest 
Bootstrap version on your schedule.
</div>



